<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Poll details - Polls app</title>
  </head>

  <body>
    <h1>Polls app</h1>
    <hr />

    <h2>Poll: {{ question.question_text }}</h2>
    <p>Submitted by <b>{{ question.creator }}</b> on {{ question.pub_date }}</p>

    <form action="{% url 'polls:delete' question.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Delete question" />
    </form>
    <br />

    <form action="{% url 'polls:vote' question.id %}" method="POST">
      {% csrf_token %} {% if error_message %}
      <p><strong>Error: {{ error_message }}</strong></p>
      {% endif %}

      <fieldset>
        <legend>Choose an answer:</legend>
        {% for choice in question.choice_set.all %}
        <input
          type="radio"
          name="choice"
          id="choice{{ forloop.counter }}"
          value="{{ choice.id }}"
        />
        <label for="choice{{ forloop.counter }}"
          >{{ choice.choice_text }} </label
        ><br />
        {% endfor %}
        <input type="submit" value="Vote" />
      </fieldset>
    </form>

    <footer>
      <br />
      <a href="{% url 'polls:index' %}">Return to home page</a>
    </footer>
  </body>
</html>
