<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Index - Polls app</title>
  </head>

  <body>
    <h1>Polls app</h1>
    <hr />



    <section>
      {% if user.username %}
      <table>
        <tr>
          <td style="text-align: left">Logged in as:</td>
          <td><b>{{user.username}}</b></td>
        </tr>
      </table>
      <form action="logout/" method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout" />
      </form>
      {% else %}
      <b>Not logged in.</b>
      <br />
      <a href="/login/" class="button">Login</a>
      {% endif %}
    </section>

    <section>
      <h2>Polls</h2>
      {% if questions %}
      <ul>
        {% for question in questions %}
        <li>
          <p>
            <b>{{ question.creator}}</b> asks:
            <i>{{ question.question_text }}</i><br />
            {% if user.username %}
            <a href="{% url 'polls:detail' question.id %}">View poll</a>
            {% if question.creator == user.username %}
            <form action="{% url 'polls:delete' question.id %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="Delete question" />
            </form>
            {% endif %}
            {% else %}
            <a href="login/">Login to view poll</a>
            {% endif %}
          </p>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No polls are available.</p>
      {% endif %}
    </section>

    <section>
      <h2>Create a poll</h2>
      {% if user.username %}
      <form action="{% url 'polls:add' %}" method="POST">
        <fieldset>
          {% csrf_token %}
          <label for="question_text">Question:</label><br />
          <input type="text" name="question_text" required /><br /><br />
          <label>Choices:</label><br />
          <input
            type="text"
            name="choice1_text"
            placeholder="Choice 1"
            required
          /><br />

          <input
            type="text"
            name="choice2_text"
            placeholder="Choice 2"
            required
          /><br />

          <input
            type="text"
            name="choice3_text"
            placeholder="Choice 3"
            required
          /><br />
          <br />
          <input type="submit" value="Submit" />
        </fieldset>
      </form>
      {% else %}
      <a href="login/">Login to create polls</a>
      {% endif %}
    </section>
  </body>
</html>
