{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}" />

<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="utf-8" />
      <title>Login - Polls app</title>
   </head>

   <body>
      <h1>Polls app</h1>
      <hr />

      <h2>Login</h2>

      <form method="post">
         {% csrf_token %} {{ form.as_p }}
         <button type="submit">Login</button>
      </form>

      <br />
      <b>No account?</b>
      <a href="/register/">Register</a>

      <footer>
         <br />
         <a href="{% url 'polls:index' %}">Return to home page</a>
      </footer>
   </body>
</html>
