<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Register - Polls app</title>
  </head>
  <body>
    <h1>Polls app</h1>
    <hr />

    <h2>Register</h2>

    {% if error_message %}
    <p><strong>Error: {{ error_message }}</strong></p>
    {% endif %} {% if success_message %}
    <p><strong>{{ success_message }}</strong></p>
    {% else %}

    <form method="post">
      {% csrf_token %}
      <label>Username:</label>
      <input type="text" name="username" required /><br />

      <label>Password:</label>
      <input type="password" name="password" required /><br />

      <label>Confirm password:</label>
      <input type="password" name="password_confirmation" required /><br />

      <input type="submit" value="Submit" />
    </form>
    {% endif %}
    <footer>
      <br />
      <a href="{% url 'polls:index' %}">Return to home page</a>
    </footer>
  </body>
</html>
